<%- include("header") %>
    <h1><%= kindOfDay %></h1>

  
   
<div class="box">
  
  <% newListItems.forEach(function(item){%>
    <div class="item">
<input type="checkbox" >

<p><%=   item.name%></p>

    </div>
 <%   }) %>

</div>
     

    <form action="/" method="post" class="item">
      <input placeholder="new item" type="text" name="newItem" />
      <button name="list" type="submit" value=<%=newListItems%>  >+</button>
    </form>
    <%- include("footer") %>

  
    